@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Athiti', sans-serif;
}
.container{
    max-width:1400px;
}
.header{
    text-align:center;
}
.header img{
    width:250px;
    
}
h1{
    text-transform:uppercase;
}
img {
    max-width: 100%;
}


nav ul{
    text-align:center;
   
	list-style: none;
	padding-left: 0;
}
nav li{

    margin:0 10px;
    font-size:2rem;
	background-color:#ebe3db;
	border: 1px solid black;
	font-weight:bold;
}
nav a{
    text-decoration:none;
	color:black;
	display: block;
	padding:15px 0;
	
}

nav a:hover {
  color:white;
  background-color:#4c4343 ;
}

.current {
    color:white;
    background-color:#4c4343;
}
.container{
    text-align:center;
}

h2{
   font-family: 'Merienda', cursive; 
}

h2::before, h2::after, h1::before, h1::after{
     font-family :'Font Awesome 5 free';
     font-weight:900;
     content:"\f005";
     font-size: 10px;
     color:#950000;
}

.footer{
   background-image: url('../img/images/footer-bg.jpg');
   color:white;
   text-align:center;
  
}
.footer h2{
    border-bottom:1px dashed white;
    padding:10px 0;
}
.footer ul{
    list-style: none;
	padding-left: 0;
	padding-bottom:50px;
}
.icone ul{
    display:flex;
    text-align:center;
}
.icone i{
    font-size:35px;
    padding: 0 20px;
    
   
}
.icone a{
    text-decoration:none;
    color:white;
    display:block;
}


@media screen and (min-width:980px){
    /*destop*/
    .container{
        max-width:1400px;
    }
    .header{
        display:flex;
        text-align:left;
        justify-content:space-around;
    }
    .header img{
        max-width:150px;
    
    }
    .header div{
        display:flex;
    }
    .header div h1{
        margin-top:50px;
    }
    nav ul{
        display:flex;
        justify-content:flex-end;
    	padding:10px;
    	
    }
    nav li{
        margin:20px 20px;
        border:none;
    }
    nav a{
        padding:15px 30px;
    }
    .footer{
        display:flex;
        justify-content:space-around;
    }
}


@media screen and ( min-width:780px ) and (max-width:980px){
    /*tablette*/
    .container{
        max-width:100%;
    }
    
    
}