<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma blibliotheque d'anime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/style.css">
  
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="main">
                <p><img src="../public/assets/img/logo-2.svg" alt="logo" class="logo">Ma blibliotheque Anime</p>
                <nav class="nav">
                    <ul>
                        <li><a href="#" class="current">accueil</a> </li>
                        <li><a href="Apropos.html">a propos</a></li>
                        <li><a href="bibliotheque.html">Liste des Animes</a></li>
                        <li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <main>
            <div class="section">
                <img src="../public/assets/img/logo-2.svg" alt="logo" class="big-logo">
            </div>
            
            <div class="section">
                <h2>A propos</h2>
                <a href="about.html" class="button">en savoir plus</a>
            </div>
            
            <div class="section">
                <h2><i class="fa-solid fa-user"></i>  MON PROFIL</h2>
                <a href="#" class="button">se connecter</a>
            </div>
            
        </main>
        
        <footer>
            <p>projet final réaliser par eva debart pour la 3Wacademy pour la sessions de 2022</p>
        </footer>
    </div>
</body>
</html>