<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma blibliotheque d'anime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/style.css">
  
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="main">
             <p><img src="../public/assets/img/logo-2.svg" alt="logo" class="logo">Ma blibliotheque Anime</p>
             <nav class="nav">
                 <ul>
                     <li><a href="acceuil.html">accueil</a> </li>
                     <li><a href="#"class="current">a propos</a></li>
                     <li><a href="blibliotheque.html">Liste des Animes</a></li>
                     <li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>
                 </ul>
             </nav>
             </div>
        </header>
        
        <main>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
          dolor in hendrerit in vulputate velit esse molestie consequat,
          vel illum dolore eu feugiat nulla facilisis at vero eros et
          accumsan et iusto odio dignissim qui blandit praesent luptatum
          zzril delenit augue duis dolore te feugait nulla facilisi.
          Nam liber tempor cum soluta nobis eleifend option congue
          nihil imperdiet doming id quod mazim placerat facer possim
          assum. Typi non habent claritatem insitam; est usus legentis
          in iis qui facit eorum claritatem. Investigationes
          demonstraverunt lectores legere me lius quod ii legunt saepius.
          Claritas est etiam processus dynamicus, qui sequitur mutationem
          consuetudium lectorum. Mirum est notare quam littera gothica,
          quam nunc putamus parum claram, anteposuerit litterarum formas
          humanitatis per seacula quarta decima et quinta decima. Eodem
          modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
          in futurum.</p>
        </main>
        
       <footer>
           <p>projet final réaliser par eva debart pour la 3Wacademy pour la sessions de 2022</p>
        </footer>
    </body>
</html>